

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------*/
html, body {
	height: 100%;
	font-family: 'Chakra Petch', sans-serif;
font-family: 'DM Sans', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Roboto', sans-serif;
}

.main-wrapper{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 1fr 100px;
	min-height: 100%;

}

.header{
	grid-column: 1/2;
	background-color: #eeeeee;
}

.form-wrapper{
	display: none;
	flex-direction: column;
	grid-column: 1/2;
	grid-row: 2/3;
	justify-self: center;
	align-self: center;
	justify-content: center;
	align-items: center;
	z-index: 1;
	background-color:  grey;
	width: 300px;
	height: 300px;
	border-radius: 10px;
}

input[type="color"] {
	width: 100%;
}



.main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, .1fr));
	grid-column: 1/2;
	grid-row: 2/3;
	background: #a7bcb9;  
	gap: 1.5rem;

	
}




.card-wrapper{
	display: grid;
	grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr;
	border-radius: 5px;
	border-radius: 8px;
	background: #24527a; 
	border: 4px solid grey;
	max-height: 15rem;
	margin-left: 1rem;
	margin-top: 1rem;
	color: white;
}

.year-make{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	font-weight: 400;
	border: 2px solid black;
	border-radius: 10px;
}

.card-other{
	display: flex;
	align-items: center;
	font-weight: 200;
	margin-left: 1rem;
}

.card-buttons{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer{
	display: grid;
	grid-row: 3/4;
	grid-template-columns: 1fr 25fr 1fr;
	grid-template-rows:20px 50px 50px;
	background-color: #eeeeee;
}

.race{
	grid-column: 1/4;
	grid-row: 1/2;
}

#racer1Track {
	grid-column: 1/4;
	grid-row: 2/3;
	border-bottom: 2px dotted black;
}

#racer2Track {
	grid-column: 1/4;
	grid-row: 3/4;
}

#racer1Track i, #racer2Track i {
	font-size: 2rem;
}

.icon i{
	margin-top: 5px;
	font-size: 2rem;
}